:root {
    --bleeding: 0.5cm;
    --margin: 1cm;
  }

  * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}
  
  @page {
    size: A4;
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    background: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
  }
  
  .page {
    display: inline-block;
    position: relative;
    height: 297mm;
    width: 210mm;
    font-size: 12pt;
    margin: 2em auto;
    /* padding: calc(var(--bleeding) + var(--margin)); */
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    background: white;
  }
  
  @media screen {
    .page::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: calc(100% - var(--bleeding) * 2);
      height: calc(100% - var(--bleeding) * 2);
      margin: var(--bleeding);
      outline: thin dashed black;
      pointer-events: none;
      z-index: 9999;
    }
  }
  
  @media print {
    .page {
      margin: 0;
      overflow: hidden;
    }
  }
.m-0{
    margin: 0;
}

.p-0{
    padding:0
}


.contact-list{
    list-style: none;
    padding: 0 0 0 15px;
}
.listing-item-icon{
    background-color: #ce0000;
    color: white;
    padding: 4px;
    border-radius: 2px;
    font-size: 20px;
    margin-bottom: 6px;
}

.section-topper{
  
  top: 0;
  right: 0;
  margin: 30px;
  margin-bottom: 22px !important;
}

.tp-logo{
  position: absolute ;
  max-height: 80;
  max-width: 160.29px;
  top: 15px;
  right: 30px;
}

.links{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

.hr-wrapper{
  display: flex;
  justify-content: center;
}

.block-divider {
  width: 710px;
  height: 3px;
  border: 0;
  background-color: #cd0000;
 }

 .property-header{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3em;

 }

 .starts-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
 }
 .stats{
  position: relative;
  background-color: #2d2d2d;
  border: 1px solid #222020;
  height: 100px;
  width: 710px;
 }

 .font-fam{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;

 }

 .bed-1{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;
  padding-top: 15px;
  padding-left: 30px;
 }

 .bath-1{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0px;
  padding-bottom: 15px;
  padding-left: 30px;
 }

 .pool-1{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  padding-top: 15px;
  padding-right: 10px;
 }

 .ref-1{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px;
  padding-bottom: 15px;
  padding-right: 89px;
 }
 .text-white{
  color: #ffffff;
 }


 .image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .top-section{
  width: 710px;
  height: 280px;
  position: relative;
  margin-bottom: 20px;
  
 }

 .main-image{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 470px;
  width: 470px !important;
  height: 280px;
  border: solid 1px black;
 }

 .top-row-image-r1{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 220px;
  width: 220px !important;
  max-height: 130px;
  border: solid 1px black;
 }

 .top-row-image-r2{
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 220px;
  width: 220px !important;
  max-height: 130px;
  border: solid 1px black;
 }

 .bottom-section{
  width: 710px;
  height: 130px;
  position: relative;
 }

 .bottom-row-image-r1{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 220px;
  width: 220px !important;
  max-height: 130px;
  border: solid 1px black;
 }

 .bottom-row-image-r2{
  position: absolute;
  top: 0;
  left: 249px;
  max-width: 220px;
  width: 220px !important;
  max-height: 130px;
  border: solid 1px black;
 }

 .bottom-row-image-r3{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 220px;
  width: 220px !important;
  max-height: 130px;
  border: solid 1px black;
 }

 .description{
  margin-top: 20px;
  margin-left: 61px;
  height: 275px;
  max-height: 275px;
 }

 .property-desc-ul{
  padding: 0;
 }

 .property-desc-li{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
 }

 .bottom-logo-img{
  position: absolute ;
  max-height: 60px;
  opacity: 70%;
  bottom: -18px;
  left: 30px;
 }

 .no-display{
  display: none;
 }



 #click-to-select-image{
  height: 130px;
  width: 245px;
  max-width: 245px;
  max-height: 120px;
  margin: 3px;
  cursor: pointer;
 }

 #image-holder{
  left: 0;
  top:500px;
 }

 #ref-holder{
  right: 100px;
  top:250px;
 }
 
.selector-container{
  position: absolute;
  z-index: 999;
  
  background-color: #0d0d0df4;
  padding: 15px;
  color: whitesmoke;
  font-size: 25px;
}