<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A4 Paper</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/A4.css')}}">
</head>

<body style="--bleeding: 0.5cm;--margin: 1cm;">
  <div class="page">
    <!-- Your content here -->
    <h1>{{ property_header }}</h1>
    <h2>test</h2>
    <!-- End of your content -->
  </div>
</body>


</html>